body{
 
    background-color:#6E6E6E;
}
.heading{
    margin: auto;
    display: inline;
}
.sketchWrapper{
    /* outline: 1px solid red; */
    width: 600px;
    margin: auto;
 
}
/* the "#" let's us style the element with a given ID*/
#canvasContainer{
    /* margin-left: 30px; */
    /* border: 1px dashed black; */
    display: inline-block;
}

.sketchDescription p{
    /* border: 2px dashed black; */
    display: inline;
}

